@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

.landing-hero {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-hero h1{
    font-size: 64px;
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
}